* {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    color: white;
}

body {
    max-width: 1200px;
    justify-content: center;
    margin: auto;
    padding: 50px;
}

header {
    text-align: left;
}

#header_title {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    margin-bottom: 50px;
    border: solid #8EB26A;
    padding: 20px;
}

.flex-container {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.flex-item {
    flex: 1;
    display: block;
}

.flex-item img {
    max-width: 100%;
    display: block;
}

nav li {
    text-align: left;
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: solid #8EB26A;
}

nav ul {
    padding: 0px;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 720px) {
    .flex-container {
        flex-direction: column;
    }
}