* {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    color: white;
}

body {
    max-width: 1200px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: auto;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: solid white;
    box-shadow: 10px 10px 2px 3px #00B7F9;
    /* border: solid #00B7F9; */
    /* border: solid #FFB7C5; */
}

header {
    text-align: left;
    margin-bottom: 50px;
}

#header_title {
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid #8EB26A;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.flex-item {
    flex: 1;
    display: block;
}

.flex-item img {
    max-width: 100%;
    display: block;
}

.resource-item {
    flex: 1;
    display: block;
    flex-basis: calc(50% - 50px);
    box-sizing: border-box;
}

.resource-item img {
    max-width: 100%;
    display: block;
}

nav li {
    text-align: left;
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
    border: solid #8EB26A;
}

nav ul {
    padding: 0px;
}

a {
    text-decoration: none;
}

#page_info {
    padding-bottom: 0px;
}

@media screen and (max-width: 720px) {
    .main-container {
        flex-direction: column;
    }
}