* {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    color: white;
}

body {
    max-width: 1200px;
    justify-content: center;
    margin: auto;
}

header {
    text-align: left;
}

.flex-container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.flex-item {
    flex: 1;
    display: block;
}

.flex-item img {
    max-width: 100%;
    display: block;
}

nav li {
    text-align: left;
    display: inline-block;
    padding: 5px;
    margin-right: 20px;
    list-style: none;
    border: solid white;
}

nav ul {
    padding: 0px;
}

a {
    text-decoration: none;
}